<h1>Profile Page for <%= @user.name %></h1>

<section id="profile-data">
  <h2>Order Data</h2>
  <p>Email: <%= @user.email %></p>
  <p>Role: <%= @user.role %></p>
    <h3>Address:</h3>
  <aside class="address-details">
    <p><% @user.reload.addresses.each do |address| %></p>
      <section id="address-<%= address.id %>">
      <p>Location:<%= address.nickname %> 
     <p>Address: <%= address.address %> </p>
      <p>City: <%= address.city %>,</p>
     <p>State: <%= address.state %>,</p>
      <p>Zip: <%= address.zip %></p>
      <p><%= button_to "Delete Address",  profile_address_path(address), method: :delete %>
     <p><%= link_to "Update Address", edit_profile_address_path(address) %>
    </p>
      </section>
    <% end %>
  </aside>
  <p><%= button_to 'Add Address', new_profile_address_path(@user), method: :get %></p>
  <p><%= link_to 'Edit Profile Data', edit_profile_path unless current_admin? %></p>
</section>

<section id="orders-data">
  <h2>Order Data</h2>
  <p><% if @user.orders.any? %>
  <%= link_to 'Customer Orders', profile_orders_path %>
  <% else %>
  You have no orders yet.
  <% end %></p>
</section>
